 <!DOCTYPE html>
<html lang="en" ng-app="accapp">
<head>
 <script src="lib/angular.min.js" ></script>
       <script src="lib/angular-ui-router.min.js" ></script>
        <script src="lib/localforage.min.js" ></script>
        <script src="lib/ngStorage.min.js"></script>
  		<script type="text/javascript" src="app/accctrl.js"></script> 
		<script type="text/javascript" src="app/acctService.js"></script> 
</head>
<body>
<div  ng-controller="formController">
  <form novalidate>
	accountName:
    <input type="text" id="accountName" ng-model="testform.accountName">
    accountType:
    <input type="text" id="accountType" ng-model="testform.accountType">
    <br><br>
    <button type ="submit" ng-click="createCustomerAccount(testform)">SUBMIT</button>
  </form>
  <p>form = {{account.accountName }}</p>
  <p>master = {{account.accountType}}</p>
</div>
<!-- <script>
var acapp=angular.module("Accapp",[]);
acapp.controller('formController',function($scope, $http){
	var data= $.param({
	acnm:$scope.Accname,
	actyp:$scope.Acctype
	
	$scope.ButtonClick = function () {
            var post = $http({
                method: "POST",
                url: "http://localhost:8400/Test/create",
                dataType: 'json',
                data: { acnm:$scope.Accname,actyp: $scope.Accname },
                headers: { "Content-Type": "application/json" }
	});


		 post.success(function (data, status) {
                $window.alert("Hello: " + data.Name + " .\nCurrent Date and Time: " + data.DateTime);
            });
 
            post.error(function (data, status) {
                $window.alert(data.Message);
            });

function formController ($scope) {
    $scope.master = {Website:"Concretepage.com", Topic:"AngulatJS Form"};
    $scope.reset = function() {
        $scope.user = angular.copy($scope.master);
    };
    $scope.reset();
} -->
</script>
</body>
</html>